@model AlirezaHadian.Models.ServicesCategory

@{
    ViewData["Title"] = "ویرایش دسته بندی";
}

        <form asp-action="EditCategory" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ServicesCategoryID" />
            <div class="form-group">
                <label asp-for="ServicesCategoryTitle" class="control-label"></label>
        <input asp-for="ServicesCategoryTitle" class="form-control" />
        <span asp-validation-for="ServicesCategoryTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
        <label asp-for="ServicesCategoryIcon" class="control-label"></label>
        <input asp-for="ServicesCategoryIcon" class="form-control" />
        <span asp-validation-for="ServicesCategoryIcon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="ویرایش" class="btn btn-primary" />
            </div>
        </form>
