@model AlirezaHadian.Models.HomeSocial

@{
    ViewData["Title"] = "افزودن شبکه اجتماعی";
}

<div class="row">
    <div class="col-md-4">
        @*href="/Admin/Home/HomeSocialAdd"*@
        <form asp-action="HomeSocialAdd" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SocialIcon" class="control-label"></label>
                <input asp-for="SocialIcon" class="form-control" />
                <span asp-validation-for="SocialIcon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SocialLink" class="control-label"></label>
                <input asp-for="SocialLink" class="form-control" />
                <span asp-validation-for="SocialLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="افزودن" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

